<div class="container">
  <div class="panel">
    <div class="panel__grade">
      <mat-selection-list #gradeList [multiple]="false" (selectionChange)="selChange()">
        <mat-list-option class="panel__option"
                         *ngFor="let grade of grades;
                         index as i; first as isFirst;
                         last as isLast"
                         (click)="onSelect(grade)"
                         [value]="grade">
          <div><b>{{grade.symbolicGrade}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
            {{grade.minPercentage}}% -&nbsp;
            <div *ngIf="!isLast; else elseBlock">{{ grades[i + 1].minPercentage - 1 }}%</div>
            <ng-template #elseBlock>100%</ng-template>
            <div class="spacer"></div>
            <button *ngIf="!isFirst" mat-icon-button aria-label="Delete grade" (click)="deleteGrade(grade)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <button mat-button class="panel__button" (click)="addGrade()">
        <mat-icon>add</mat-icon>
        Add new grade
      </button>
    </div>

    <div [class]="propsClass">
      <app-properties *ngIf="selectedGrade else blank" [grade]="selectedGrade" [maxValue]="maxValue"
                      (added)="changeState($event)">
      </app-properties>

    </div>

    <ng-template #blank>
      <span>Select grade to show options</span>
    </ng-template>

  </div>
</div>

