.panel {
  &__grade, &__props {
    height: 100vh;
    padding: 20px;
  }

  &__grade {
    border-right: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      button {
        color: #757575;
        opacity: .5;
        transition: .3s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__button {
    align-self: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #673ab7;
  }
  &__option {
    transition: .5s;
  }

}

.spacer {
  flex: 1 1 auto;
}
