.container {
  height: 100vh;
}

.toolbar {
  max-height: 60px;
}

.sidenav {
  background-color: #673ab7;
  &__item {
    color: #ffffff;
    padding: 6px 2px;
    &_active {
      color: #FFD740;
      box-sizing: border-box;
      border-left: 1px solid #FFD740;
    }
  }
}





